
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="page-header">
            <H1>Hurry, Scan your QR Code to collect best cards of the year in 2000 Best player</H1>
        </div>
        <div >
                <a href="#"><img src="app/views/page/images/AM-3754-0815-Auskick-2016-DA-Parents-Slider-2560x985-FA2.jpg"
                                alt=""></a>
            </div>

        
        <div >
                <video width="500" height="500" controls>
                    <source src="app/views/page/Videos/NAB Mini Legends  AFL Kids.mp4" type="video/mp4">
                  </video>
            </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>

   