<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="page-header">
            <H1>Hurry, Scan your QR Code to collect best cards of the year in 2000 Best player. Let following those step</H1>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Drink</th>
                    <th scope="col">Scan</th>
                    <th scope="col">Collect</th>
                    <th scope="col">Watch</th>
                    <th scope="col">Discount</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td><img src="app/views/page/images/mocha.jpg" width="100" height="100"> </td>
                    <td><img src="app/views/page/images/13576527-scanning-qr-code-with-mobile-smart-phone.jpg" width="100"
                            height="100"> </td>
                    <td><img src="app/views/page/images/card.jpg" width="100" height="100"> </td>
                    <td><img src="app/views/page/images/schools-promotional-videos.jpg" width="100" height="100"> </td>
                    <td><img src="app/views/page/images/a_010905gentickets6_1aiombn-1aiombs.jpg" width="100" height="100">                        </td>
                </tr>

            </tbody>
        </table>
        <div>
            <a href="#"><img src="app/views/page/images/AM-3754-0815-Auskick-2016-DA-Parents-Slider-2560x985-FA2.jpg" width="900" height="400" alt=""></a>
        </div>


        <div>
            <video width="500" height="500" controls>
                <source src="app/views/page/Videos/NAB Mini Legends  AFL Kids.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>