
<link rel="stylesheet" href="app/views/page/Style/styles.css">
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div id="home" class="tab-pane fade in active">
            <h3>Personal Profile</h3>
            <div class="col-sm-6">
                <div class="page-header">
                    <h1>User Account</h1>
                </div>
                <div>
                    <div>Name: {{userName}} </div>
                    <div>Email: {{userEmail}} </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>