<!-- <link rel="stylesheet" href="app/views/page/Style/myCollection.css">-->



<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1>My collection</h1>
    </div>
    <div class="col-sm-3"></div>
</div>

<!--Display area-->
<div class="row">

    <div class="col-sm-4">
        <div id="piechart"></div>
    </div>
    <div class="col-sm-4">

        <ul class="list-group" ng-repeat="row in collections">
            <li class=" col-sm-12 list-group-item" ng-click="setClickedRow(row.playerName,row.Position,row.Height,row.Weight,row.DOB,row.Debut, row.Games, row.Goals, row.Cards )">
                <div>
                    <div class="col-sm-11">
                        <a href="#" class="font-weight-bold text-primary"> {{row.playerName}}</a>
                        <img ng-src="{{row.imageLink}}" alt="Player">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-3" ng-hide="showPlayerDetail">
        <table class="table table-striped">
            <thead>
                <tr>
                    <h4 class="text-primary">{{playerName}}</h4>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Position</td>
                    <td class="text-primary">{{Position}}</td>
                    <td></td>
                </tr>
                <tr>

                    <td>Height</td>
                    <td class="text-primary">{{Height}}</td>
                    <td></td>
                </tr>
                <tr>

                    <td>Weight</td>
                    <td class="text-primary">{{Weight}}</td>
                    <td></td>
                </tr>
                <tr>

                    <td>DOB</td>
                    <td class="text-primary">{{DOB}}</td>
                    <td></td>
                </tr>
                <tr>

                    <td>Debut</td>
                    <td class="text-primary">{{Debut}}</td>
                    <td></td>
                </tr>
                <tr>

                    <td>Games</td>
                    <td class="text-primary">{{Games}}</td>
                    <td></td>
                </tr>
                <tr>

                    <td>Goals</td>
                    <td class="text-primary">{{Goals}}</td>
                    <td></td>
                </tr>
                <tr>

                    <td><button class="btn btn-success" ng-click="AddToMyCollection()">View Video</button></td>
                    <td><button class="btn btn-success" ng-click="AddToMyCollection()">View team mate</button></td>
                    <td><button class="btn btn-success" ng-click="AddToMyCollection()">View my career path</button></td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>