<!-- <link rel="stylesheet" href="app/views/page/Style/myCollection.css">-->



<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1>My collection</h1>
    </div>
    <div class="col-sm-3"></div>
</div>
<!--Display area-->
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">

        <ul class="list-group" ng-repeat="row in collections">
            <li class=" col-sm-12 list-group-item" ng-click="setClickedRow(row.playerName,row.Position,row.Height,row.Weight,row.DOB,row.Debut, row.Games, row.Goals, row.Cards )">
                <div>
                    <div class="col-sm-11">
                        <p class="font-weight-bold text-primary"> {{row.playerName}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-5" ng-hide="showPlayerDetail">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="text-primary">{{playerName}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Position</td>
                    <td class="text-primary">{{Position}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Height</td>
                    <td class="text-primary">{{Height}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Weight</td>
                    <td class="text-primary">{{Weight}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>DOB</td>
                    <td class="text-primary">{{DOB}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Debut</td>
                    <td class="text-primary">{{Debut}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Games</td>
                    <td class="text-primary">{{Games}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Goals</td>
                    <td class="text-primary">{{Goals}}</td>
                    <td></td>
                </tr>
                <tr>
                    <button class="btn btn-success" ng-click="AddToMyCollection()">View Video</button>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>