<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <img src="app/views/page/images/card.jpg" alt="Player">
    </div>
    <div class="col-sm-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="text-primary">{{playerName}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Position</td>
                    <td class="text-primary">{{Position}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Height</td>
                    <td class="text-primary">{{Height}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Weight</td>
                    <td class="text-primary">{{Weight}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>DOB</td>
                    <td class="text-primary">{{DOB}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Debut</td>
                    <td class="text-primary">{{Debut}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Games</td>
                    <td class="text-primary">{{Games}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Goals</td>
                    <td class="text-primary">{{Goals}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" ng-click="AddToMyCollection()">Add To My collection</button>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="w3-content" style="max-width:800px">
        <img class="mySlides" src="app/views/page/images/220px-Sydney_Swans_Logo.svg.png" style="width:100%">
        <img class="mySlides" src="app/views/page/images/220px-Essendon_FC_logo.svg.png" style="width:100%">
        <img class="mySlides" src="app/views/page/images/220px-Sydney_Swans_Logo.svg.png" style="width:100%">
    </div>

    <div class="w3-center">
        <div class="w3-section">
            <button class="w3-button w3-light-grey" ng-click="plusDivs(-1)">❮ Prev</button>
            <button class="w3-button w3-light-grey" ng-click="plusDivs(1)">Next ❯</button>
        </div>
        <button class="w3-button demo" ng-click="currentDiv(1)">1</button>
        <button class="w3-button demo" ng-click="currentDiv(2)">2</button>
        <button class="w3-button demo" ng-click="currentDiv(3)">3</button>
    </div>
</div>