<div class="row">
    <div class="col-sm-1">
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your share button code -->
        <div class="fb-share-button" data-href="https://www.deakin.come" data-layout="button_count">
        </div>

    </div>
    <div class="col-sm-8">
        <video class="col-sm-12" controls>
            <source src="app/views/page/Videos/Geelong v Melbourne Match Highlights  Round 18 2018  AFL.mp4" type="video/mp4">
        </video>
        <h1 style="color:blue; font-family:Arial, Helvetica, sans-serif; text-align: center;">{{teamA}} and {{teamB}}</h1>
    </div>
    <div class="col-sm-3">
        <h2 style="color:rgb(238, 48, 23);text-align: center;">up next</h2>
        <video style="padding-bottom: 5px;" class="col-sm-12" controls>
            <source src="app/views/page/Videos/Richmond v Hawthorn Match Highlights  Qualifying Finals 2018  AFL.mp4" type="video/mp4">
        </video>
        <p style="color:rgb(212, 171, 36);text-align: center;">Richmond v Hawthorn Match Highlights Round 1</p>
        <video style="padding-bottom: 5px;" class="col-sm-12" controls>
            <source src="app/views/page/Videos/West Coast v Collingwood Highlights  Qualifying Final 2018  AFL.mp4" type="video/mp4">
        </video>
        <p style="color:rgb(212, 171, 36);text-align: center;">Richmond v Hawthorn Match Highlights Round 3</p>

        <video style="padding-bottom: 5px;" class="col-sm-12" controls>
            <source src="app/views/page/Videos/NAB Mini Legends  AFL Kids.mp4" type="video/mp4">
        </video>
        <p style="color:rgb(212, 171, 36);text-align: center;">Richmond v Hawthorn Match Highlights Round 5</p>

        <video style="padding-bottom: 5px;" class="col-sm-12" controls>
            <source src="app/views/page/Videos/NAB Mini Legends  AFL Kids.mp4" type="video/mp4">
        </video>
        <p style="color:rgb(212, 171, 36);text-align: center;">
            Richmond v Hawthorn Match Highlights Round 5</p>

    </div>
</div>