<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="form-inline">
            <label class="col-sm-5">Team A</label>
            <label class="col-sm-2"></label>
            <label class="col-sm-5">Team B</label>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="form-inline">

            <select class="col-sm-5" ng-model="Search.JobCategory">
                <option value="">Select Team</option>
                <option ng-repeat="team in teams" value="{{team.type}}">{{team.type}}</option>
            </select>

            <select class="col-sm-2" ng-model="Search.JobCategory">
                <option value="">Year</option>
                <option ng-repeat="year in years" value="{{year.type}}">{{year.type}}</option>
            </select>

            <select class="col-sm-5" ng-model="Search.JobCategory">
                <option value="">Select Team</option>
                <option ng-repeat="team in teams" value="{{team.type}}">{{team.type}}</option>
            </select>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2" style="padding: 20px;">
        <button  class="col-sm-12 btn btn-success" ng-click="SeachButtonClick(Search)">Head to Head</button>
    </div>
    <div class="col-sm-5"></div>
</div>
<hr>